.flex{
    display: flex;
    list-style: none;
    height: 30px;
}
 .items-center{
    align-items: center;/*isse jo h myntra ka logo center mae aa jaega*/
 }
/* .justify-center{

} */
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
header{
    position: sticky;/*jo header h ab vo hilega nhi apn ne usko sticky kr diya*/
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
.homeimg{
    width: 100%;
    border-radius: 40px;
}
.moreimg{
    width: 100%;
    border-radius: 25px;
    margin-top: 30px;
}

.newimg{
    height: 250px;
    width: 1200px;
    /* border: 9px solid red; */
    margin-top: 735px;
    border-radius: 25px;
    /* border: 5px solid green; */
 
}
.vegeimg{
    width: 250px;
    height: 300px;
    border-radius: 25px;
    /* margin-bottom: 850px; */
    /* border: 5px solid blue; */
    /* margin-top: 20%; */
}
.shopimg{
    width: 300px;
    border-radius: 25px;
    height: 300px;
    margin-top: 270px;
    /* border: 5px solid red; */
    /* margin-top: 20%; */
}
.tagsimg{
    width: 300px;
    height: 70px;
    margin-top: 528px;
    /* border: 5px solid black; */
   
    /* margin-top: 20%; */
}
