body{
    background-color: white;
    width: 100%;
    height: 50%;
    font-family: 'Times New Roman', Times, serif;
}
*{
    margin: 3px;
    
}
.left img{
    margin-top: 14px;
    width: 53px;
    /* height: 43px; */
}

.container{
    min-width: 20vw;
    margin: 5px 0;
    background-color: #d9d6d6;;
    color: black;
    padding: 0px 10vw;
    height: 50px;
}

nav ul li{
    list-style: none;
    padding: 0 12px;
    font-size: 13px;
    font-weight: bold;
    padding-top: 14px;
    
    text-transform: uppercase;/*isse saare letters bde ho jaenge*/
  

}
nav ul li:hover{
    cursor: pointer;
    font-size: large;
    background-color: rgb(241, 241, 224);
    border-radius: 15px;

  
    
}
.right{
    margin-left: 100px;
    margin-top: 14px;
  
    cursor: pointer;
    align-items: center;
}
.section1{
    background-color:#f5f0f0;
    height: 122vh;
}
.search{
    padding: 3px;
    width: 300px;
    background-color: rgb(229 229 243);
    border: 2px solid gray;
}
.button{
    background-color: rgb(229 229 243);
    border: 2px solid gray;
    padding: 3px;
    width: 70px;
    font-weight: bold;
}
.button:hover{
    background-color: blue;
}
footer{
    padding: 23px;
    text-align: center;
    color: white;
    margin-top: 1570px;
    background-color: black;
    height: 400px;
    position:static;
    bottom: 0px;
    width: 3000px;
}
.low a{
   text-decoration: none;
    margin-right: 2700px;
    cursor: pointer;
    color: white;
  
}
.low a:hover{
    /* background-color: red; */
    color: chartreuse;
}
.low h1 a{
    font-size: 20px;
    padding: 20px;
    color: blue;
    cursor: pointer;
    
}
.mid{
    margin-top: 40px;
    /* margin-left: 5px; */
    position: relative; 
    left: 400px;
    bottom:230px;
}
.mid a{
    text-decoration: none;
    padding: 25px;
    /* margin-bottom: 20px; */
    color: white;
    cursor: pointer;
    margin-right: 2800px;
  
}
.mid h1 a{
    font-size: 20px;
    padding: 20px;
    color: blue;
    cursor: pointer;
}
.mid a:hover{
    color: chartreuse;
}
.footright{
   margin-right: 2200px;
   position: relative; 
   left: 450px; 
   bottom:440px;
}
.footright h1 {
    font-size: 20px;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}
.footright h2{
    color: blue;
    padding: 10px;
}
.footright h1:hover{
    color: chartreuse;
}
.footright h2:hover{
    color: chartreuse;
    cursor: pointer;
}
.last{
    position:relative;
    z-index: 10;
    right: 300px; 
    bottom:605px;
    color:red;
    font-size: 16px;
}
.last a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.last h1{
    font-size: 17px;
    color: blue;
}
.last a:hover{
    color: chartreuse;
}
.last h1:hover{
    color: chartreuse;
    cursor: pointer;
}
/* .footdown a{
     text-decoration: none;
     margin-right: 1500px;
     cursor: pointer;
     color: white;
     position:relative ;
     left: 450px; 
    /* margin-bottom: 450px; */
     /* bottom:615px; */

   
/*  
 .footdown a:hover{ 
     color: chartreuse;
 }
 .footdown h1 a{
     font-size: 20px;
     padding: 20px;
     color: blue;
     cursor: pointer;
 }  */